* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

/* **********************HEADER STYLES********************************** */
.header--block {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 0.5rem 4rem;
}

.header--title {
    font-size: 2rem;
    letter-spacing: -0.03em;
}

.header--logo {
    width: 4%;
    margin-right: 1rem;
}

.meme--main {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.meme--left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 4rem;
}


/* **********************FORM STYLES********************************** */
.meme--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.current-text-heading {
    margin-top: 2rem;
}

.meme--text-inputs {
    display: flex;
    justify-content: center;
}

.meme--text-input {
    padding: 0.5rem 0.5rem 0.4rem;
    margin-right: 1rem;
    width: auto;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.meme--options {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meme--options-text {
    font-size: 1.2rem;
    margin: 0 1.5rem;
}

.add-btn {
    width: 8rem;
}

.meme--btn {
    max-width: 15rem;
    height: 3rem;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-btn {
    width: 12rem;
}

.meme--btn:hover {
    background: linear-gradient(90deg, #5c1b74 1.18%, #841fa8 100%);
}

.meme--upload {
    font-family:'Karla', sans-serif;
    display: none;
}

/* **********************CURRENT TEXT STYLES********************************** */

.meme--active-text {
    border-top: 2px solid rgb(204, 204, 204);
    width: 100%;
}

.meme--text-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.meme--text-item {
    list-style: none;
    padding: 1rem 0.5rem 1rem 2rem;
    border: 1px solid rgb(97, 97, 97);
    border-bottom: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
    width: 100%;
}

.meme--text-item:last-of-type {
    border-bottom: 1px solid rgb(97, 97, 97);
}

.meme--icons {
    margin-left: 2rem;
    display: flex;
}

.meme--icons * {
    margin-right: 1rem;
    cursor: pointer;
}

.meme--item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70%;
    margin: 0;
}

/* **********************MEME IMAGE STYLES********************************** */
.meme--right {
    width: 45%;
    max-width: 42rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.meme--whitespace {
    height: 10rem;
    width: 100%;
    border: 1px solid rgb(214, 214, 214);
    border-bottom: none;
}

.meme--template {
    width: 100%;
    height: auto;
    border: 1px solid rgb(214, 214, 214);
}

.meme--text {
    position: absolute;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0;
    z-index: 1000;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    white-space: nowrap;
}

.enlarge {
    color: white;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.4rem;
    text-shadow:
    3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    0 3px 0 #000,
    3px 0 0 #000,
    0 -3px 0 #000,
    -3px 0 0 #000,
    3px 3px 5px #000;
}

.top {
    top: 0;
}


@media (max-width: 1440px) {
    .meme--text-list {
        width: 100%;
    }

    .meme--template {
        width: 41rem;
    }
}

@media (max-width: 1250px) {
    .header--block {
        padding: 0.25rem 4rem;
    }

    .header--logo {
        width: 4rem;
    }

    .meme--main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3.5rem;
    }

    .meme--right {
        order: 1;
        width: 100%;
        
    }

    .meme--left {
        order: 2;
        width: 60%;
        margin: 3rem 0 0;
    }

    .meme--template {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .header--block {
        padding: 0.25rem 2rem;
    }

    .header--title {
        white-space: nowrap;
    }

    .meme--left {
        width: 90%;
    }
}

@media (max-width: 460px) {
    .header--title {
        font-size: 1.75rem;
    }

    .header--logo {
        width: 17%;
    }

    .meme--form {
        width: 100%;
    }

    .meme--text-input {
        width: 60%;
    }

    .meme--btn {
        font-size: 1rem;
        width: 45%;
    }

    .meme--options {
        margin-top: 2rem;
    }

    .meme--options-text {
        margin: 0 1rem;
    }

    .enlarge {
        font-size: 2rem;
    }

    .meme--text-item {
        font-size: 1.25rem;
    }

    .meme--whitespace {
        height: 6rem;
    }
}

@media (max-width: 320px) {
    .enlarge {
        font-size: 1.5rem;
    }

    .meme--options-text {
        margin: 0 0.5rem;
    }

    .meme--whitespace {
        height: 4.5rem;
    }
}

