* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

/* **********************HEADER STYLES********************************** */
.header--block {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 0.5rem 4rem;
}

.header--title {
    font-size: 2rem;
    letter-spacing: -0.03em;
}

.header--logo {
    width: 4%;
    margin-right: 1rem;
}

.meme--main {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.meme--left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 4rem;
}


/* **********************FORM STYLES********************************** */
.meme--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.meme--active-text {
    border-top: 2px solid rgb(204, 204, 204);
}

.current-text-heading {
    margin-top: 2rem;
}

.meme--text-inputs {
    display: flex;
    justify-content: center;
}

.meme--text-input {
    padding: 0.5rem 0.5rem 0.4rem;
    margin-right: 2rem;
    width: 20rem;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.meme--options {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.meme--options-text {
    font-size: 1.2rem;
}

.meme--btn {
    max-width: 15rem;
    width: 35%;
    height: 3rem;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meme--btn:hover {
    background: linear-gradient(90deg, #5c1b74 1.18%, #841fa8 100%);
}

.meme--upload {
    font-family:'Karla', sans-serif;
    display: none;
}

/* **********************CURRENT TEXT STYLES********************************** */

.meme--text-list {
    padding: 0;
}

.meme--text-item {
    list-style: none;
    padding: 1rem 0.5rem 1rem 2rem;
    border: 1px solid rgb(97, 97, 97);
    border-bottom: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
}

.meme--text-item:last-of-type {
    border-bottom: 1px solid rgb(97, 97, 97);
}

.meme--icons {
    margin-left: 2rem;
    display: flex;
}

.meme--icons * {
    margin-right: 1rem;
    cursor: pointer;
}

.meme--item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70%;
    margin: 0;
}

/* **********************MEME IMAGE STYLES********************************** */
.meme--right {
    width: 45%;
    max-width: 42rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.meme--whitespace {
    height: 10rem;
    border: 1px solid rgb(214, 214, 214);
    border-bottom: none;
}

.meme--template {
    width: auto;
    height: auto;
    border: 1px solid rgb(214, 214, 214);
}

.meme--text {
    position: absolute;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0;
    z-index: 1000;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.enlarge {
    color: white;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.4rem;
    text-shadow:
    3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    0 3px 0 #000,
    3px 0 0 #000,
    0 -3px 0 #000,
    -3px 0 0 #000,
    3px 3px 5px #000;
}

.top {
    top: 0;
}